<html>
  <head>
    <title>SCaReM - The Summer Camp Resource Manager</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/reservation_view.css" />
  </head>
  
<body>
  <h1>Reservations for {{ camp_name }}</h1>
  {% if not reservations %}
  <p>{{ camp_name }} has no upcoming reservations.</p>
  {% endif %}
  
  {% for reservation_day in reservations %}
    {% include "schedule/view_day.html" with show_camp=False day=reservation_day.0 reservations=reservation_day.1 %}
  {% endfor %}

  <a href="/">Home</a>
  <p class='no-changes'>*Changes cannot be made to reservations that are less than one week in the future</p>

</body>
</html>
