{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.timepicker.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/multi-select.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/reservation_form.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />

  <script type="text/javascript">
    var tagResources = {{ tag_resources|safe }};
  </script>
{% endblock %}

{% block content %}
<h2>Create Reservation</h2>

  <form action="{{ action }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="reservation_id" value="{{ reservation_id }}" />

    <div class="form-row field-camp">
      <div>
        <label class="required" for="id_camp">Camp:</label>
        <div class="related-widget-wrapper">
          <select id="id_camp" name="camp">
            <option value="">---------</option>
            {% for camp in camps %}
              <option value="{{ camp.id }}"
                      {% if camp.id == camp_value %}selected="selected"{% endif %}
                      >{{ camp.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    
    <div class="form-row field-owner">
      <div>
        <label class="required" for="id_owner">Owner:</label>
        <input class="vTextField" id="id_owner" maxlength="50" name="owner" type="text" value="{{ owner_value }}" />
        <p class="help">Fill in your name here.</p>
      </div>
    </div>

    <div class="form-row field-event">
      <div>
        <label class="required" for="id_event">Event:</label>
        <input class="vTextField" id="id_event" maxlength="100" name="event" type="text" value="{{ event_value }}" />
        <p class="help">What are you doing?  For example "Dance" or "Movie Night".</p>
      </div>
    </div>

    <div class="form-row time">
      <div>
        <label class="required" for="id_date">Time:</label>
        <p class="datetime">
          <label>Date:</label>
          <input class="datepicker" id="id_date" name="date" size="10" type="text" value="{{ date_value }}" />
          <label class="datetimeshortcuts" />
	  <button type="button" id="allday" onclick="allDay()">All Day</button>
        </p>
        <p class="datetime"><label>Start Time:</label> <input class="timepicker" id="id_start_time" name="start_time" size="10" type="text" value="{{ start_time_value }}" /></p>
        <p class="datetime"><label>End Time:</label> <input class="timepicker" id="id_end_time" name="end_time" size="10" type="text" value="{{ end_time_value }}" /></p>
        <p class="datetime">
          <label>Repeat Daily Until:</label>
          <input class="datepicker" id="id_repeat_until" name="repeat_until" size="10" type="text" value="{{ repeat_until_value }}" />
          <label class="datetimeshortcuts" />
        </p>
      </div>
    </div>

    <div class="form-row field-resources">
      <div>
        <label class="required" for="id_resources">Resources:</label>
        <div class="related-widget-wrapper">
          <p class="help">Select a tag to narrow your resource options.</p>
          <select id="id_tag" name="tag" class="filter-select">
            <option value="">---------</option>
            {% for tag in tags %}
              <option value="{{ tag.id }}"
                      {% if tag.id == tag_value %}selected="selected"{% endif %}
                      >{{ tag.name }}</option>
            {% endfor %}
          </select>

          <br/>
          <select multiple="multiple" id="id_resources" name="resources" class="filtered-select">
            {% for resource in resources %}
              <option value="{{ resource.id }}"
                      {% if resource.id in resource_values %}selected="selected"{% endif %}
                      >{{ resource.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="form-row field-notes">
      <div>
        <label for="id_notes">Notes:</label><br/>
        <textarea id="id_notes" name="notes" cols="80" rows="5">{{ notes_value}}</textarea>
      </div>
    </div>
    
    <input type="submit" name="save" value="Save Reservation" />
    <input type="submit" name="another" value="Save and Add Another" />
    <a href="/">Cancel</a>
  </form>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.ui.timepicker.js"></script>
  <script type="text/javascript" src="/static/js/jquery.multi-select.js"></script>
  <script type="text/javascript" src="/static/js/reservation.js"></script>

{% endblock %}
