<html>
  <head>
    <title>SCaReM - The Summer Camp Resource Manager</title>
    <meta charset="UTF-8">
  </head>

  <link rel="stylesheet" type="text/css" href="/static/css/general.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/reservation_view.css" />

<body>
<h1>Delete Reservation</h1>

{% include "view_reservation.html" with hide_actions=True %}

<p class="error">Are you sure you want to delete this reservation?</p>

<form action="/reservation/delete/{{reservation.id}}">
  <input type="hidden" name="confirmed" value="true"/>
  <input type="submit" value="Delete" /> <a href="/">Cancel</a>
</form>
