.card {
    width: 38%;
    float: left;
    border-style: solid;
    border-radius: 8px;
    border-color: darkgreen;
    height: 140px;
    padding: 2%;
    margin: 3%;
    font-size: large;
    text-align: center;
}

body {
    background-image: url('/static/img/scarem_medium.png');
    background-repeat: no-repeat;
    background-position: center 25px;
    background-attachment: fixed;
}

.event_detail {
    padding: 8px;
    border: 1px solid darkgreen;
    display: none;
}

.one_event {
    display: table;
}

.glance {
    padding: 50px;
}