* {
    font-size: 24px;
}

.ui-datepicker-calendar {
    font-size: 20px;
}

.card {
    width: 38%;
    float: left;
    border-style: solid;
    border-radius: 8px;
    border-color: darkgreen;
    height: 140px;
    padding: 2%;
    margin: 3%;
    font-size: 30px;
    text-align: center;
}

body {
    background-image: url('/static/img/scarem_medium.png');
    background-repeat: no-repeat;
    background-position: center 25px;
    background-attachment: fixed;
}

@media only screen and (max-width: 700px) {
    .card {
        width: 90%;
    }
}

.event_detail {
    padding: 8px;
    border: 1px solid darkgreen;
    display: none;
}

.one_event {
    display: table;
}

.glance {
    padding: 50px;
    clear: left;
}

.notes {
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    border-style: dotted;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
}


.easteregg {
    display: block;
    margin: auto;
}
