.no-changes {
    font-style: italic;
    color: grey;
}

.view_reservation {
    border-style: solid;
    border-radius: 8px;
    border-color: darkgreen;
    padding: 1%;
    margin: 1%;
}

.view_reservation_day form {
    margin-bottom: 2px;
}

.view_reservation_day {
    border-style: solid;
    border-color: darkgreen;
    margin: 0 10px 30px 10px;
}

.view_reservation input {
    padding: 4px;
}

.view_reservation_day .day {
    font-size: 150%;
    padding: 1%;
}

.view_reservation .owner {
    color: grey;
    font-size: 75%;
}

.view_reservation .actions {
    width: 15%;
    float: left;
}

.view_reservation .metadata {
    width: 40%;
    float: left;
}

.view_reservation .resources {
    width: 40%;
    float: left;
}

.view_reservation .clear {
    clear: both;
}

@media print {
    .actions, .home-link, .no-changes {
        display: none;
    }
}