.no-changes {
    font-style: italic;
    color: grey;
}

.view_reservation {
    border-style: solid;
    border-radius: 5px;
    border-color: darkgreen;
    border-width: 1px;
    padding: 3px;
    margin: 2px;
}

.view_reservation_day form {
    margin-bottom: 2px;
}

.view_reservation_day {
    border-style: solid;
    border-color: darkgreen;
    margin: 0 5px 5px 5px;
}

.view_reservation input {
    padding: 4px;
}

.view_reservation_day .day {
    font-size: 120%;
    padding: 2px;
}

.view_reservation .owner, .view_reservation .recur {
    color: grey;
    font-size: 75%;
}

.view_reservation .actions {
    width: 15%;
    float: left;
}

.view_reservation .metadata {
    width: 40%;
    float: left;
}

.view_reservation .resources {
    width: 40%;
    float: left;
}

.view_reservation .notes {
    border-width: 1px;
    border-color: grey;
    border-radius: 2px;
    border-style: dotted;
    width: 78%;
    clear: left;
    padding-top: 2px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 2px;
}

@media only screen and (max-width: 700px) {
    .view_reservation .actions {
        width: 25%;
    }
    
    .view_reservation .metadata {
        width: 70%;
        float: right;
    }

    .view_reservation .resources {
        width: 70%;
        float: right;
    }
}

.view_reservation .clear {
    clear: both;
}

@media print {
    .actions, .home-link, .no-changes {
        display: none;
    }

    .view_reservation .notes {
        width: 30%;
	float: right;
	clear: none;
    }
    
    .view_reservation .metadata {
	width: 35%;
    }

    .view_reservation .resources {
	width: 30%;
    }

    .view_reservation_day .day {
	font-size: 12px;
	padding: 0 2px 0 2px;
    }

    .view_reservation_day .view_reservation {
	font-size: 10px;
	padding: 0 2px 0 2px;
    }

    .view_reservation .owner, .view_reservation .recur {
	color: grey;
	font-size: 10px;
    }
}
