<html>
  <head>
    <title>SCaReM - The Summer Camp Resource Manager</title>
    <meta charset="UTF-8">

    <!--
                                /\
                        +      /  \
                       / \    /    \
                      /   \  /      \
                     /     \/        \
                    /       \         \
                    ~~~~~~~~~~~~~~~~~~~
      -->
    
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/general.css" />
    {% block header %}
    {% endblock %}
  </head>
  
  <body>
    <h1>SCaReM - The Summer Camp Resource Manager</h1>

    {% for message in messages %}
      <p class="error">{{ message }}</p>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </body>
</html>
