{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" href="/static/css/index.css"/>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block content %}
  {% if easter %}
  <img class="easteregg" src="/static/img/easter/{{ easter }}.gif"/>
  {% endif %}
  
  <div class='main'>
    <div class='card'>
      <p><a href="reservation/create">Create a reservation</a></p>
    </div>
      
    <div class='card'>
      <p>Reservations by date:</p>
      <form action="/schedule/bydate">
        {% csrf_token %}
        <p>
          <input class="datepicker" id="id_start_date" name="start_date" size="10" type="text" /><label class="datetimeshortcuts" />
          to
          <input class="datepicker" id="id_end_date" name="end_date" size="10" type="text" /><label class="datetimeshortcuts" />
        </p>
        <p><input type="submit" value="View" /></p>
      </form>
    </div>

    <div class='card'>
      <p>Reservations by camp:</p>
      <form action="/schedule/bycamp">
        {% csrf_token %}
        <p>
          <select id="id_camp" name="camp_id">
            <option value="">---------</option>
            {% for camp in camps %}
            <option value="{{ camp.id }}"
                    {% if camp.id == camp_value %}selected="selected"{% endif %}
                    >{{ camp.name }}</option>
            {% endfor %}
          </select>
        </p>
        <p><input type="submit" value="View" /></p>
      </form>
    </div>
  
    <div class='card'>
      <p>Reservations by resource:</p>
      <form action="/schedule/byresource">
        {% csrf_token %}
        <p>
          <select id="id_resource" name="resource_id">
            <option value="">---------</option>
            {% for resource in resources %}
            <option value="{{ resource.id }}"
                    {% if resource.id == resource_value %}selected="selected"{% endif %}
                    >{{ resource.name }}</option>
            {% endfor %}
          </select>
        </p>
        <p><input type="submit" value="View" /></p>
      </form>
    </div>
  </div>

  <div class='glance'>
   <h2><a href="/schedule/bydate?start_date={{date.month|stringformat:"02d"}}%2F{{date.day|stringformat:"02d"}}%2F{{date.year}}">Today at a glance</a></h2>
    {% if not today %}
      <h3>No reservations today</h3>
    {% endif %}
    {% for resource in today %}
      <h3><a href="/schedule/byresource/?resource_id={{ resource.0 }}">{{ resource.1 }}</a></h3>
      <ul>
        {% for reservation in resource.2 %}
          <div class='one_event'>
            <li class='event_glance'>
              {{ reservation.event }} at {{ reservation.camp.name }} from {{ reservation.start_time.time }} to {{ reservation.end_time.time }}
            </li>
            <li class='event_detail'>
              {{ reservation.event }} at {{ reservation.camp.name }} from {{ reservation.start_time.time }} to {{ reservation.end_time.time }}
              <br/>
              Using {{ reservation.resource_names }}
              <br/>
              Reserved by {{ reservation.owner }}
              {% if reservation.notes %}
                <br/>
                <pre class="notes">{{ reservation.notes }}</pre>
              {% endif %}
            </li>
          </div>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock %}
