<div class='view_reservation' style='background:linear-gradient(90deg, #ffffff 80%, {{ reservation.camp.color }} 20%);'>
  {% if not hide_actions %}
    <div class='actions'>
      {% if reservation.is_frozen %}
        <div class='no-changes'>No changes allowed*.</div>
      {% else %}
        <form action="/reservation/edit/{{ reservation.id }}">
          {% csrf_token %}
          <input type="submit" value="Edit">
        </form>
        <form action="/reservation/delete/{{ reservation.id }}">
          {% csrf_token %}
          <input type="submit" value="Delete">
        </form>
      {% endif %}
    </div>
  {% endif %}
  
  <div class='metadata'>
    <div class='times'>
      {% if day %}
        {% if reservation.start_time.date != day %}
          {% if reservation.end_time.date != day %}
            Ongoing
          {% else %}
            Ongoing to {{ reservation.end_time.time }}
          {% endif %}
        {% else %}
          {% if reservation.end_time.date != day %}
            {{ reservation.start_time.time }} to Ongoing
          {% else %}
            {% if reservation.is_all_day %}
              All Day
            {% else %}
              {{ reservation.start_time.time }} to {{ reservation.end_time.time }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% else %}
        {{ reservation.start_time }} to {{ reservation.end_time }}
      {% endif %}
      
    </div>

    <div class='event'>
      {% if show_camp %}
        {{ reservation.camp.name }} - 
      {% endif %}
      {{ reservation.event }}
    </div>

    {% if reservation.recurrence_id %}
    <div class='recur'>This is part of a recurring reservation</div>
    {% endif %}
    <div class='owner'>Reserved by {{ reservation.owner}}</div>
  </div>
    
  <div class='resources'>
      {% for resource in reservation.resources.all %}
      {{ resource.name }}<br/>
      {% endfor %}
  </div>

  {% if reservation.notes %}
    <div class='notes'>
      <pre>{{ reservation.notes }}</pre>
    </div>
  {% endif %}

  <div class='clear'></div>
</div>
