<div class='view_reservation' style='background:linear-gradient(90deg, #ffffff 80%, {{ reservation.camp.color }} 20%);'>
  {% if not hide_actions %}
    <div class='actions'>
      {% if reservation.is_frozen %}
        <div class='no-changes'>No changes allowed*.</div>
      {% else %}
        <form action="/reservation/edit/{{ reservation.id }}">
          {% csrf_token %}
          <input type="submit" value="Edit">
        </form>
        <form action="/reservation/delete/{{ reservation.id }}">
          {% csrf_token %}
          <input type="submit" value="Delete">
        </form>
      {% endif %}
    </div>
  {% endif %}
  
  <div class='metadata'>
    <div class='times'>{{ reservation.start_time.time }} to {{ reservation.end_time.time }}</div>

    <div class='event'>
      {% if show_camp %}
        {{ reservation.camp.name }} - 
      {% endif %}
      {{ reservation.event }}
    </div>

    <div class='owner'>Reserved by {{ reservation.owner}}</div>
  </div>
    
  <div class='resources'>
      {% for resource in reservation.resources.all %}
      {{ resource.name }}<br/>
      {% endfor %}
  </div>

  <div class='clear'></div>
</div>
